.timelineContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 24px;
  height: 100%;
  padding: 2rem;
  text-align: center;
}

.subtitleBox {
  opacity: 0;
  transform: scale(1);
  transition: opacity 0.2s ease-in-out;
  transform-origin: center;
  display: inline-block;
  width: 100%;
  max-width: 90%;
  text-align: center;
}

.subtitleBox.animate {
  animation: bounceScaleDistort 1.5s ease-in-out forwards;
  opacity: 1;
}

.word {
  display: inline-block;
  margin: 0 10px;
  transition: transform 0.2s ease, opacity 0.5s ease;
}

@keyframes bounceScaleDistort {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2) skewX(-5deg);
  }
  50% {
    transform: scale(1.5) skewX(5deg);
  }
  75% {
    transform: scale(1.2) skewX(-5deg);
  }
  100% {
    transform: scale(1) skewX(0deg);
  }
}

.time {
  font-size: 14px;
  margin-top: 1rem;
  opacity: 0.5;
}

.pauseButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff4747;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pauseButton:hover {
  background-color: #ff2f2f;
}
